{% extends 'base.html' %}
{% block content %}
<div class="container">
{% for post in post_list %}
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                {{post.title}}
            </h2>
            <p class="card-text">
                {{post.content | slice:"580"}}
            </p>
            <p>
               Author: {{post.author | title}}
            </p>
            <a class="btn btn-primary" href="/title/{{post.id}}">Read More</a>

        </div>
    </div>

{% endfor %}
</div>
{% endblock content %}
